//shared
body {
	margin: 0px;
	font-family: Arial, sans-serif;
	background-color: rgb(236, 229, 229);
}

a {
	color: green;
}

nav {
	background-color: rgb(173, 91, 91);
	border-bottom: 2px solid rgb(121, 30, 30);
	padding: 10px;

	.logout-link {
		float: right;
		background: none;
		border: none;
		font-size: 1em;
		text-decoration: underline;
	}
}

.margin-wrap {
	margin: 0px 50px;
}

header {
	margin-top: 75px;
	text-transform: uppercase;
	font-weight: lighter;
	font-size: 1.3em;
	color: green;
}

//log in
#log-in-body {
	color: green;
	text-align: center;
	font-size: 1.5em;

	input {
		height: 25px;
		font-size: 0.8em;
		text-align: center;
		padding: 5px;
	}
}

#log-in-wrapper, #sign-up-wrapper {
	
}

//index, individual posts 
#all-posts-wrapper, .all-comments-wrapper{
	margin-top: 40px;
	background-color: lightgray;
	padding: 15px;
	border: 1px solid gray;
}

.post-wrapper, .comment-wrapper {
	background-color: white;
	border: 1px dotted green;
	margin-bottom: 15px;
	padding: 15px;
}


//individual post page
.orig-post-wrapper {
	font-size: 1.2em;
	margin-top: 70px;
	color: green;

	h1 {
		text-transform: uppercase;
	}

	.reply-link {
		color: blue;
	}
}

.author-text {
	font-size: 0.8em;
}

.reply-link {
	margin: 5px 0px;
}

//create post page

.create-post-form {

	input {
		height: 20px;
		width: 400px;
		margin-bottom: 20px;
		font-size: 1em;
	}
	.post-input {
		height: 200px;
	}
	.submit-input {
		width: 100px;
		font-size: 1.5em;
	}
}


